<div class="col-6">
    <div class="card padding margin-top">
        <h3 class="text-uppercase"><%= user.name%></h3>
        <h3 class="text-uppercase"><%= user.surname%></h3>
        <p class="text-secondary"><%= "Email: " + user.email%></p>
        <p class="text-secondary"><%= "Rol: " + user.role.name%></p>
        <%= link_to "Ver más", user%>
    </div>
</div>