<div class="col-4">
  <div class="card margin-top" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= user.name + " " + user.surname%></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= "Email: " + user.email %></h6>
      <p class="card-text"><%= "Rol: " + user.role.name %></p>
      <% if user.role.name == "Personal bancario" %>
        <p class="card-text"><%= "Sucursal asignada: " + BranchOffice.find(user.branch_office_id).name %></p>
      <% end %>
      <%= link_to "Ver más", user %>
    </div>
  </div>
</div>