<div class="small-container center-block">
  <h3 class="center padding">Cambiar contraseña</h3>
  <div class="card padding margin-top">
    <%= form_with(model: @user, url: @url , local: true) do |form| %>
      <div class="field">
        <%= form.label :password, "Contraseña"%>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres mínimos)</em>
        <% end %><br />
        <%= form.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="field">
        <%= form.label :password_confirmation, "Confirmar contraseña" %><br />
        <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="padding">
        <div class="row">
          <%= form.submit "Actualizar contraseña", class:"btn btn-primary"%>
        </div>
      </div>
    <% end %>
  </div>
  <div class="padding">
    <%= link_to "Información del usuario", province_path %>
  </div>
</div>