<div class="col-4">
  <div class="card margin-top" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= branch_office.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= "Localidad: " + branch_office.location.name %></h6>
      <p class="card-text"><%= "Dirección: " + branch_office.direction %></p>
      <p class="card-text"><%= "Telefono: " + branch_office.phone %></p>
      <%= link_to "Ver más", branch_office, class:"btn btn-primary"%>
    </div>
  </div>
</div>