<%= form_with(model: @branch_office, local: true) do |form| %>

    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :direction %>
        <%= form.text_field :direction %>
    </div>
    <div>
        <%= form.label :phone %>
        <%= form.text_field :phone %>
    </div>
    <div>
        <%= form.submit%>
    </div>
<%end%>