<div class="container">
  
  <div class="card padding margin-top">
    <div class="card-header">
      <h3 class="text-uppercase">
        <%= "Nombre: " + @branch_office.name %>
      </h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6"><h3 class="card-title"><%= "Localidad: " + @branch_office.location.name %></h3></div>
        <div class="col-6"><h3 class="card-text"><%= "Provincia: "+ @branch_office.location.province.name %></h3></div>
      </div>
      <div class="row">
        <div class="col-6"><p class="card-text"> <%= "Dirección: " + @branch_office.direction%></p></div>
        <div class="col-6"><p class="card-text"> <%= "Nùmero de telefono: " + @branch_office.phone%></p></div>
      </div>
      <div class="row">
        <div class="col-6"><p class="card-text"> <%= "Personal disponible: " + @branch_office.get_personal_users.size.to_s %></p></div>
        <div class="col-6"><p class="card-text"> <%= "Turnos Pendientes: " + @branch_office.get_appointments_by_filter("Pendiente").size.to_s %></p></div>
      </div>
      <div class="row padding">
      <% if current_user.role.id == 1%>
          <div class=col-2><%= link_to 'Editar Sucursal', edit_branch_office_path(@branch_office), class: "btn btn-primary" %></div> 
          <div class=col-2><%= button_to 'Eliminar Sucursal', @branch_office , method: :delete , class: "btn btn-danger" %></div>         
      <% elsif current_user.role.id == 3 %>
        <div class="col-2"><%= link_to 'Solicitar cita', new_appointment_path, class: "btn btn-primary"%></div>
      <% else %>
        <%= link_to 'Turnos registrados', appointments_branch_office_path, class: "btn btn-primary"%>
      <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= link_to "Volver al menu de sucursales", branch_offices_path, class: "padding" %>
  </div>

  <div class="row">
    <h3 class="center">Horarios de atención<h3>
    <% if current_user.role.id == 1%>
      <%= link_to "Agregar nuevo dia laboral", new_working_day_path %>
    <% end %>
    <div class="col-12">
      <table class="table table-primary">
        <thead>
          <tr>
            <th>Dia</th>
            <th>Sucursal</th>
            <th>Franja Horaria</th>
            <th>Operaciones</th>
          </tr>
        </thead>
      <tbody class="table-group-divider">
        <%= render @branch_office.working_days.sort_by(&:day) %>
      </tbody>
    </table>
  </div>
</div>
</div>

