<div class="col-4">
  <div class="card margin-top" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%="Cliente: " + appointment.user.name + " " + appointment.user.surname%></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= appointment.branch_office.name %></h6>
      <p class="card-text"><%= "Fecha solicitada: " + appointment.date.to_s%></p>
      <p class="card-text"><%= "Hora solicitada: " + appointment.hour.strftime("%H:%M")%></p>
      <p class="card-text"><%= "Estado: " + appointment.state.name%></p>
      <% if current_user.role.id == 3%>
        <%= link_to "Ver más", appointment%>
      <% elsif appointment.state_id == 1 %>
        <%= link_to "Atender turno", attending_appointment_path(appointment)%>
      <% else %>
        <%= link_to "Ver mas", attending_appointment_path(appointment)%>
      <% end %>
    </div>
  </div>
</div>