<div id="<%= dom_id appointment %>">
  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Hour:</strong>
    <%= appointment.hour %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= appointment.reason %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= appointment.result %>
  </p>

</div>
