<div class="col-6">
  <div class="card padding margin-top">
    <h3 class="text-uppercase"><%= appointment.branch_office.name%></h3>
    <p class="text-secondary"><%= "Cliente: " + appointment.user.name%></p>
    <p class="text-secondary"><%= "Fecha: " + appointment.date.to_s%></p>
    <p class="text-secondary"><%= "Hora: " + appointment.hour.to_s%></p>
    <p class="text-secondary"><%= "Razon: " + appointment.reason%></p>
    <% if current_user.role.id == 3%>
      <%= link_to "Ver más", appointment%>
    <% elsif appointment.state_id == 1 %>
      <%= link_to "Atender turno", attending_appointment_path(appointment)%>
    <% else %>
      <%= link_to "Ver mas", attending_appointment_path(appointment)%>
    <% end %>
  </div>
</div>