<%= form_with(model: @appointment, local: true) do |form| %>

  <div class="field">
    <%= form.label :branch_office_id %>
    <%= form.collection_select :branch_office_id, BranchOffice.all, :id, :name, prompt: true%>   
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :hour, style: "display: block" %>
    <%= form.time_field :hour %>
  </div>

  <div>
    <%= form.label :reason, style: "display: block" %>
    <%= form.text_field :reason %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<%end%>