<div class="container">
  <div class="card padding margin-top">
    <div class="card-header">
      <h3 class="text-uppercase">
        <%= "Cliente: " + @appointment.user.name + " " + @appointment.user.surname%>
      </h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6"><h3 class="card-title"><%= "Sucursal: " + @appointment.branch_office.name %></h3></div>
        <div class="col-6"><h3 class="card-text"><%= "Dirección: "+ @appointment.branch_office.location.name + " | " + @appointment.branch_office.direction %></h3></div>
      </div>
      <div class="row">
        <div class="col-6"><p class="card-text"> <%= "Dia solicitado: " + @appointment.date.to_s%></p></div>
        <div class="col-6"><p class="card-text"> <%= "Hora solicitado: " + @appointment.hour.strftime("%H:%M")%></p></div>
      </div>
      <p class="card-text"> <%= "Razon del turno: " + @appointment.reason%></p>
      <% if @appointment.state.id == 1 %>
        <div class="large-container center-block">
          <%= form_with(model: @appointment, url: attending_appointment_path , local: true) do |form| %>
            <div class="field">
              <%= form.label :result, "Resultado del turno" ,style: "display: block" %>
              <%= form.text_field :result %>
            </div>

            <div class="padding">
              <div class="row">
                <%= form.submit "Atender turno", class:"btn btn-primary"%>
              </div>
            </div>
            
          <% end %>
        </div>
      <% else %>
        <div class="row">
          <div class="col-6"><p class="card-text"> <%= "Turno atendido por: " + @appointment.get_personal.name%></p></div>
          <div class="col-6"><p class="card-text"> <%= "Hora atendida: " + @appointment.updated_at.to_s%></p></div>
        </div>
        <div class="row">
          <div class="col-12"><p class="card-text"> <%= "Resultado: " + @appointment.result%></p></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="margin-top">
    <%= link_to "Volver a los turnos de la sucursal", appointments_branch_office_path(@appointment.branch_office.id) %>
  </div>
</div>
