<div class="card padding margin-top">
  <%= form_with(model: @location, local: true) do |form| %>
    <div class="field">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>
    <div class="field">
      <%= form.label :province_id, "Provincia" %>
      <%= form.collection_select :province_id, Province.all, :id, :name %>
      <%= link_to "Agregar nueva provincia", new_province_url %>  
    </div>
    <div class="padding">
      <div class="row">
        <%= form.submit class:"btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>
