<tr>
    <td><%= location.province.name %></td>
    <td><%= location.name  %></td>
    <td><%= location.branch_offices.size %></td> 
    <td>
        <%= link_to 'Editar', edit_location_path(location) %>
        <%= link_to 'Ver mas', location %>
    </td>
</tr>