<div class="card padding margin-top">
  <%= form_with(model: @attention_time, local: true) do |form| %>

    <div class="field">
      <%= form.label :hour_start, "Hora inicial" %>
      <%= form.time_field :hour_start %>
    </div>
    <div class="field">
      <%= form.label :hour_end, "Hora final" %>
      <%= form.time_field :hour_end%>
    </div>

    <div class="padding">
      <div class="row">
        <%= form.submit @button_text, class:"btn btn-primary"%>
      </div>
    </div>
  <%end%>
</div>